table, td {
  border: 1px solid black;
}

td:nth-child(2) {
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-list-container {
  background-color: aliceblue;
  width: 70vw;
  margin: 30px;
}

.character-list-container > .character-wrapper:first-child {
  color: white;
  background-color: black;
}

.character-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  border: 1px solid black;
}

.character-wrapper:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 0, 0.5);
}

.character-wrapper > h3 {
  width: 33%;
  text-align: center;
  border-right: 0.5px solid gray;
}

.character-wrapper > h3:last-child {
  border-right: none;
}

.character-modal-wrapper {
  top: 50%;
  left: 50%;
  width: 520px;
  height: 520px;
  border: 1px solid black;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  padding: 25px 0;
  z-index: 100;
}

.character-modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 50;
}

.modal-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  color: gray;
}

.modal-close-btn:hover {
  cursor: pointer;
}

.character-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
